{% include 'header.html.twig' %}
{% include 'navbars/navbar.html.twig' %}

<div class="wrapper__main margin__under-navbar">
    <div class="container">

        <div class="card mb-5">
            <div class="card-body">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addEmployee"><i class="fa fa-user"></i> Add a new employee</button>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <table class="table table-bordered table-hover rmb">
                    <thead>
                        <tr class="table-light">
                            <th style="border-top-left-radius:5px;border-bottom-left-radius:5px;" scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Post</th>
                            <th style="border-top-right-radius:5px;border-bottom-right-radius:5px;" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}
                            <tr class="employee">
                                <th scope="row">{{ user.id|e }}</th>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email|e }}</td>
                                <td>{{ user.post|e }}</td>

                                {% set user_id = user.id %}
                                {% set pattern = user.schedulePattern %}

                                <td class="text-right">
                                    <a data-toggle="modal" data-target="#editSchedulePattern{{ user_id }}" href="#" class="employee__action"><i class="fa fa-calendar"></i></a>
                                    <a data-toggle="modal" data-target="#editEmployee{{ user_id }}" href="#" class="employee__action"><i class="fa fa-pencil"></i></a>
                                    <a id="js-delete-user" href="{{ path('delete_employee_action', {'id': user_id}) }}" class="employee__action action__red"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            <span style="display:none;" class="hidden_pattern_{{user_id}}">{{ pattern }}</span>




                            <div class="modal fade " id="editSchedulePattern{{ user_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg2 modal-dialog-centered" role="document">
                                    
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit the schedule pattern</h5>
                                        <div class="legends__meanings">
                                            <div class="legends__meanings__item">Working</div>
                                            <div class="legends__meanings__item gray">Not available</div>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div id="pattern_{{ user_id }}" class="pattern__wrapper">
                                            <div class="legends">
                                                <span>00:00</span>
                                                <span>01:00</span>
                                                <span>02:00</span>
                                                <span>03:00</span>
                                                <span>04:00</span>
                                                <span>05:00</span>
                                                <span>06:00</span>
                                                <span>07:00</span>
                                                <span>08:00</span>
                                                <span>09:00</span>
                                                <span>10:00</span>
                                                <span>11:00</span>
                                                <span>12:00</span>
                                                <span>13:00</span>
                                                <span>14:00</span>
                                                <span>15:00</span>
                                                <span>16:00</span>
                                                <span>17:00</span>
                                                <span>18:00</span>
                                                <span>19:00</span>
                                                <span>20:00</span>
                                                <span>21:00</span>
                                                <span>22:00</span>
                                                <span>23:00</span>
                                            </div>


                                            <div class="day">
                                                <span>Mon.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                            <div class="day">
                                                <span>Tue.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>

                                            <div class="day">
                                                <span>Wed.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                            <div class="day">
                                                <span>Thu.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                            <div class="day">
                                                <span>Fri.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                            <div class="day">
                                                <span>Sat.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                            <div class="day">
                                                <span>Sun.</span>

                                                <div class="day__hours">
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                    <div class="hour"><span class="legend"></span></div>
                                                </div>
                                            </div>


                                        </div>
                                        <script>load_pattern({{ user_id }});</script>
                                    </div>

                                    <div class="modal-footer">
                                        <button onclick="save_pattern({{ user_id }})" type="button" class="btn btn-primary float-left" data-dismiss="modal">Submit</button>
                                    </div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal fade " id="editEmployee{{ user_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit an employee</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">

                                        <form action="{{ path('edit_employee_action', {'id': user_id}) }}">

                                            <div class="form-group">
                                                <label for="first_name">First name</label>
                                                <input value="{{ user.firstName }}" type="text" class="form-control" id="first_name" name="first_name">
                                            </div>

                                            <div class="form-group">
                                                <label for="last_name">Last name</label>
                                                <input value="{{ user.lastName }}"type="text" class="form-control" id="last_name" name="last_name">
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input value="{{ user.email }}"type="email" class="form-control" id="email" name="email">
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input value="{{ user.password }}"type="password" class="form-control" id="password" name="password">
                                            </div>

                                            <div class="form-group">
                                                <label for="post">Post</label>
                                                <select class="form-control" id="post" name="post">
                                                    {% if(user.post == "Admin") %}
                                                        <option selected>Admin</option>
                                                        <option>Dentist</option>
                                                        <option>Hygienist</option>
                                                    {% endif %}

                                                    {% if(user.post == "Dentist") %}
                                                        <option selected>Dentist</option>
                                                        <option>Admin</option>
                                                        <option>Hygienist</option>
                                                    {% endif %}

                                                    {% if(user.post == "Hygienist") %}
                                                        <option selected>Hygienist</option>
                                                        <option>Admin</option>
                                                        <option>Dentist</option>
                                                    {% endif %}
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-primary float-right">Submit</button>

                                        </form>

                                    </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








<div class="modal fade " id="addEmployee" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form action="{{ path('add_employee_action') }}">

            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
            </div>

            <div class="form-group">
                <label for="last_name">Last name</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="form-group">
                <label for="post">Post</label>
                <select class="form-control" id="post" name="post">
                    <option>Admin</option>
                    <option>Dentist</option>
                    <option>Hygienist</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary float-right">Submit</button>

        </form>

      </div>
    </div>
  </div>
</div>







<script>
    $('#js-delete-user').click(function(e){
        if(!confirm('You are about to delete a user, continue?')){
            e.preventDefault();
        }
    });


    $('.hour').click(function(){
        $(this).toggleClass('hour--active');
    });

</script>