{% include 'header.html.twig' %}
{% include 'navbars/navbar.html.twig' %}

<div class="wrapper__main margin__under-navbar">
    <div class="container">

        <span style="display:none;" class="hidden_pattern">{{ user.schedulePattern }}</span>

        <div id="crossingAppointmentAlert" style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span>The appointment could not be added because of other appointments at that time!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="workPastMidnightAlert" style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span>The appointment could not be added because it would span past midnight. It is prohibited by the Almighty Dentist Wizard!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card mb-2">
            <div class="card-body">
            <form action="{{ path('get_schedule_day') }}" class="rmb form-inline">
                <div class="form-group">
                    <input type="date" class="form-control mr-sm-2" value="{{ today_date }}" name="date" id="js-schedule-date">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Select</button>
            </form>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <table class="table table-bordered table-hover rmb">
                    <tbody>

                        {% set durationCounter = 0 %}
                        {# {% set appointmentsCount = appointments|size %} #}

                        {% for key in range(0,23) %}

                            {% set appointmentSet = false %}

                            {% for appointment in appointments %}

                                {% if(appointment.time == key) %}
                                
                                    <tr class="js-time-row{{ key }} table-appointment pointer" data-toggle="modal" data-target="#editAppointment{{appointment.time}}">
                                        <td class="bold text--green" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                        <td rowspan="{{ appointment.duration }}" class="js-add-appointment text--green cell--centered"  data-time="{{ key }}" scope="row">{{ appointment.type|e }} for {{ appointment.name|e }}.</td>
                                    </tr>
                                    {% set appointmentSet = true %}
                                    {% set durationCounter = appointment.duration-1 %}




                                    <div class="modal fade " id="editAppointment{{ appointment.time }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit an appointment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <form action="{{ path('edit_appointment_action', {'id': appointment.id}) }}">

                                                    <div class="form-group">
                                                        <label for="type">Type of Appointment</label>
                                                        <input type="text" class="form-control" id="type" name="type" value="{{ appointment.type }}" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">Patient's Full name</label>
                                                        <input type="text" class="form-control" id="name" name="name" value="{{ appointment.name }}" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="duration">Duration</label>
                                                        <input type="number" class="form-control" id="duration" name="duration" value="{{ appointment.duration }}" min="1" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="duration">Hour</label>
                                                        <input type="number" class="form-control" name="time" value="{{ appointment.time }}" min="0" required>
                                                    </div>

                                                    <input type="text" name="date" style="display:none;" class="js-date-edit">

                                                    <a href="{{ path('delete_appointment_action', {'id': appointment.id}) }}" class="btn btn-danger float-left">Delete this appointment</a>
                                                    <button type="submit" class="btn btn-primary float-right">Submit</button>

                                                </form>


                                            </div>
                                            </div>
                                        </div>
                                    </div>


                                {% endif %}

                                
                            {% endfor %}

                            {% if(appointmentSet != true) %}

                                {% if(durationCounter == 0) %}
                                    <tr class="js-time-row{{ key }} pointer">
                                        <td class="text--dark-gray bold" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                        <td class="js-add-appointment text--dark-gray"  data-time="{{ key }}" scope="row" data-toggle="modal" data-target="#addAppointment"></td>
                                    </tr>
                                {% endif %}

                                {% if(durationCounter > 0) %}
                                    <tr class="js-time-row{{ key }} table-appointment pointer">
                                        <td class="bold text--green" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                    </tr>

                                    {% set durationCounter = durationCounter-1 %}

                                {% endif %}

                            {% endif %}
                            
                        {% endfor %}

                        <script>set_working_hours({{ wday }})</script>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal fade " id="addAppointment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form action="{{ path('add_appointment_action') }}">

            <div class="form-group">
                <label for="type">Type of Appointment</label>
                <input type="text" class="form-control" id="type" name="type" required>
            </div>

            <div class="form-group">
                <label for="name">Patient's Full name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="number" class="form-control" id="duration" name="duration" min="1" value="1" required>
            </div>

            <input type="number" name="time" id="js-time" style="display:none;" min="0" required>

            <input type="text" name="date" id="js-date" style="display:none;">

            <button type="submit" class="btn btn-primary float-right">Submit</button>

        </form>

      </div>
    </div>
  </div>
</div>



<script>

    $(document).ready(function(){
        if(getUrlParameter('date')){
            $("#js-schedule-date").val( getUrlParameter('date') );
            $(".js-date-edit").val( getUrlParameter('date') );
        }

        if(getUrlParameter('error')){
            if( getUrlParameter('error')=="time_reserved" ){
                $("#crossingAppointmentAlert").show();
            }
            if( getUrlParameter('error')=="past_midnight" ){
                $("#workPastMidnightAlert").show();
            }
        }
    });

    $('.js-add-appointment').click(function(){
        var tmp_time = $(this).data("time");
        $("#js-time").val(tmp_time);

        if(getUrlParameter('date')){
            $("#js-date").val( getUrlParameter('date') );
            $("#js-schedule-date").val( getUrlParameter('date') );
        }
    });
</script>