{% include 'header.html.twig' %}
{% include 'navbars/navbar.html.twig' %}

<div class="wrapper__main margin__under-navbar">
    <div class="container">
        <div class="grid__schedule">

            {% for user in users %}
                <div class="card mb-5">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.id|e }}</h4>

                        <table class="table table-bordered rmb schedule_table">
                        <tbody>

                        {% set durationCounter = 0 %}

                        {% for key in range(0,23) %}

                                {% set appointmentSet = false %}

                                {% for appointment in appointments %}

                                    {% if(appointment.time == key) %}
                                    
                                        <tr class="js-time-row{{ key }} table-appointment" data-toggle="modal" data-target="#editAppointment{{appointment.time}}">
                                            <td class="bold text--green" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                            <td rowspan="{{ appointment.duration }}" class="js-add-appointment text--green cell--centered"  data-time="{{ key }}" scope="row">{{ appointment.type|e }} for {{ appointment.name|e }}.</td>
                                        </tr>
                                        {% set appointmentSet = true %}
                                        {% set durationCounter = appointment.duration-1 %}


                                    {% endif %}

                                    
                                {% endfor %}

                                {% if(appointmentSet != true) %}

                                    {% if(durationCounter == 0) %}
                                        <tr class="js-time-row{{ key }}">
                                            <td class="text--dark-gray bold" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                            <td class="js-add-appointment text--dark-gray"  data-time="{{ key }}" scope="row" data-toggle="modal" data-target="#addAppointment"></td>
                                        </tr>
                                    {% endif %}

                                    {% if(durationCounter > 0) %}
                                        <tr class="js-time-row{{ key }} table-appointment">
                                            <td class="bold text--green" width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                        </tr>

                                        {% set durationCounter = durationCounter-1 %}

                                    {% endif %}

                                {% endif %}
                                
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
